<!DOCTYPE html>
{% load markdown_deux_tags %}
{% load my_filter %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container page-header">
    <h1>{{ curr_article.title }}
    </h1>
    {% current_time "%Y-%m-%d %I:%M %p" as the_time %}
    <h3>当前时间:{{ the_time }}</h3>

</div>
<div class="container body-main">
            <div>
                <p>{{ curr_article.content | markdown }}</p>
            </div>
</div>
<div>
    <nav aria-label="...">
  <ul class="pager">
    <li><a href="/blog/detail/{{ previous_article.article_id }}">上一篇:{{ previous_article.title }}</a></li>
    <li><a href="/blog/detail/{{ next_article.article_id }}">下一篇:{{ next_article.title }}</a></li>
  </ul>
</nav>
</div>
</body>
</html>